@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
  --josefin-font:"Josefin Sans", sans-serif;
  --bungee-font:"Bungee Spice", sans-serif;
  --fondo-degradado:linear-gradient(90deg, lightblue 10%, green 33%, gray 66%);
  --negro90:rgba(0, 0, 0, 0.904);
  --normal:white;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

article{
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  margin: auto;
  background-color: blue;
}

.tarjeta{
  box-sizing: border-box;
  height: 550px;
  width: 300px;
  border-radius: 14px;
  box-shadow: 0px 0px 20px 0px gray;  

    & .Hencabezado{
        height: 50px;
        width: 100%;
        background-color: gray;
      }
      
    & .producto{
        height: 220px;
        width: 100%;
        background-color:rgb(116, 107, 107);

        & .colores{
          display: flex;
          align-content: center;
          justify-content: center;
          height: 40px;
          width: 100%;
        }
        & .productox{
          font-size: large;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 65px;
          width: 100%;
        }
        & .precio{
          font-size: large;
          display: flex;
          justify-content: center;
          height: 60px;
          width: 100%;
        }
        & .talles{
          display: flex;
          justify-content: center;
          height: 55px;
          width: 100%;
        }
      
      }
      
    & .descripcion{
        height: 195px;
        width: 100%;
        background-color: gray;

        & .txt{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
          width: 100%;
          box-sizing: border-box;
          padding: 20px;
        }
      }
      
    & .carrito{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 100%;
        background-color: white;
      }
}

body{
  height: 100vh;
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
  color: black;
  font-size: 20pt;
}


.container{
  display: grid;
  place-items: center;
  height: 100%;
  height: 100%;
  background: var(--normal)
}


